* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family: sans-serif;
	overflow: hidden;
}


#game-logo-button {
	background: url('../assets/space-explorers.png');
	background-repeat: no-repeat;
	background-size: 300px auto;
	border: none;
	display: block; 
	margin: 50px auto;
	height: 110px;
	width: 300px;
	cursor: pointer;
}

#restart-button {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	font-size: 1.25em;
	font-weight: 700;
	color: black;
	background-color: #fdea59;;
	box-shadow: 0px 10px #ee6ea1 inset;
	border-radius: 20px;
	padding: 30px 40px 20px;
	cursor: pointer;
	display: block; 
}

/* GAME CANVAS */

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
	border: solid 1px #fdea59;
}

/* TEST */

button.button{
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
	color: black;
    transform: translate(-50%, -50%);
	font-size: 1em;	
	height: 100vh;
	width: 100vw;
	line-height: 25px;
	text-decoration: underline;
}


/* RESPONSIVE */

@media only screen and (max-width: 1050px) {
	#game-logo-button {
		display: none;
	}
}