* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family: sans-serif;
	overflow: hidden;
}


#game-logo-button {
	background: url('../assets/SpaceEx.jpg');
	background-repeat: no-repeat;
	background-size: 300px auto;
	border: none;
	display: block; 
	margin: 50px auto;
	height: 110px;
	width: 300px;
	cursor: pointer;
}

#gameOver-button {
	background: url('../assets/gameOver.jpg');
	background-repeat: no-repeat;
	background-size: 600px auto;
	border: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 95px;
	width: 600px;
	cursor: pointer;
	display: none;
}

#mobile {
	display: none;
	position: absolute;
	z-index: 2;
	top: 0;
	width: 100vw;
	height: 100vh;
	padding: 20px;
	background-color: black;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	gap: 60px;
}

#mobile-logo {
	width: 100%;
}

#mobile-text {
	font-size: 1.25em;
	color: #fdea59;
	text-align: center;
}

/* GAME CANVAS */

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
}


/* RESPONSIVE */

@media only screen and (max-width: 1050px) {
	#mobile {
		display: flex;
	}
}