* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family: sans-serif;
	overflow: hidden;
}

main {
	width: 100%;
	min-height: 480px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	padding: 20px;
	gap: 100px;
}

#high-scores {
	width: 550px;
	display: block;
}

#score {
	display: none;
	font-size: 1.25em;
	color: black;
	text-align: center;
	background-color: #fdea59;
	border-radius: 20px;
	padding: 20px 40px;
	width: fit-content;
}

#restart-button {
	border: none;
	font-size: 1.25em;
	font-weight: 700;
	color: black;
	background-color: #fdea59;;
	box-shadow: 0px 10px #ee6ea1 inset;
	border-radius: 20px;
	padding: 30px 40px 20px;
	cursor: pointer;
	display: block; 
}


/* BACKGROUND */

#star-background {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index:-1;
}

@media only screen and (max-width: 590px) {
	#high-scores {
		width: 100%;
	}
	#start-button {
		width: 225px;
		padding: 30px 30px 20px;
	}
	#score {
		padding: 20px 25px;
	}
}